__pycache__
./__pycache__
__pycache__/*
./__pycache__/*
*.pyc
./*.pyc
.virtenv
firefox
firefox-59.0.tar.bz2
firefox*
geckodriver
geckodriver-v0.20.1-linux32.tar.gz
geckodriver*
geckodriver.log
testPages
testPages/*
conf/__pycache__/properties.cpython-36.pyc
.idea
data-test/*
data/*
